.bg-image{
    background-color: antiquewhite;
    height: 100vh;
}

.column{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotes-topBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 30px;
    background-color: white;
    height: 50px;
    width: 95%;

    border-radius: 25px;
    box-shadow: 0px 7px 20px 0px rgb(195, 179, 179); 
    // background-image: url('../../assets/fluid.png');
    // background-repeat: repeat-x;
}
.fluid{
    border-radius: 25px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    background-image: url('../../assets/fluid.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position-x: 120%;
    object-fit: cover;
    transition: 2s ease;
}
.fluid:hover{
    background-position: center;
    background-size: 2000px;
    background-position-x: 30%;
}

.fluid:hover .title{
    color: white;
}
.fluid:hover .about{
    transition: 0s;
    color: white;
}
.fluid:hover .contact:hover{
    color: rgb(205, 250, 186);
}
.fluid:hover .about:hover{
    color: rgb(205, 250, 186);
}
.fluid:hover .contact{
    transition: 0s;
    color: white;
}


.row{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.controlBar{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30px;
    bottom: 20px;
    background-color: white;
    height: 90%;
    border-radius: 30px;
    width: 20%;
    box-shadow: 0px 7px 20px 0px rgb(195, 179, 179);
}

.mainView{
    position: relative;
    left: 5%;
    bottom: 20px;
    height: 90%;
    border-radius: 30px;
    width: 72%;
    background-color: white;
    box-shadow: 0px 7px 20px 0px rgb(195, 179, 179);
}
.tab{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100px;
    border-radius: 20px;
    width: 90%;
    background-color: rgb(216, 193, 163);
}

.tabImg{
    height: 85%;
    width: 80px;
    position: relative;
    left: 10px;
    border-radius: 20px;
}
.details{
    position: relative;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;

}
.label{
    font-weight: 600;
    font-size: 15px;
}
.catchy{
    position: relative;
    font-weight: 200;
    font-size: 10px;
}
.title{
    z-index: 2;
    position: relative;
    left: 40px;
    font-weight: 600;
    font-size: 17px;
    color: rgb(216, 193, 163);
    transition: 3.5s ease;
}
.contact{
    position: absolute;
    right: 70px;
    color: rgb(99, 99, 101);
    cursor: pointer;
    transition: 3.5s ease;
}
.about{
    position: absolute;
    right: 200px;
    color: rgb(99, 99, 101);
    cursor: pointer;
    transition: 3.5s ease;
}
img{
    object-fit: fill;
}
.mainView{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.lightImg{
    margin-left: 70px;
    width: 150px;
    height: 150px;
}